
body {
  background-color: #EEE;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

form {
  max-width: 550px;
  margin: 0 auto;
  border-radius:5px;
  background:#FFF;
  padding:20px;
}

h1 {
  font-size:18px;
  font-weight:normal;
  color:#555;
}

button {
  float:right;
  width:120px;
  font-size:16px;
  line-height:22px;
  padding:7px;
}

input {
  width:400px;
  font-size:16px;
  height:22px;
  line-height:22px;
  padding:8px;
  color:#666;
}

#url_short {
  padding:30px;
  font-size:18px;
  background:#f7f7f7;
  margin-top:10px;
  display:block;
  text-decoration:none;
  color:#333;
}

#url_short.hidden {
  display:none;
}